setup/templates/logic-app-2-template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logic_app_name": {
            "defaultValue": "postenrich",
            "type": "string"
        },
        "subscription_id": {
            "type": "securestring"
        },
        "process_resource_id": {
            "type": "string"
        },
        "documentdb_resource_id": {
            "type": "string"
        },
        "cosmos_db_name": {
            "type": "string"
        },
        "cosmos_container_financial": {
            "type": "string"
        },
        "cosmos_container_financial_enriched": {
            "type": "string"
        },
        "cosmos_container_w2": {
            "type": "string"
        },
        "cosmos_container_w2_enriched": {
            "type": "string"
        },
        "cosmos_container_processed": {
            "type": "string"
        },
        "location": {
            "type": "string"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logic_app_name')]",
            "location": "[parameters('location')]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "request": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "method": "POST",
                                "schema": {
                                    "properties": {
                                        "recordId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Create_Processed_Document": {
                            "runAfter": {
                                "Process": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "form": "@body('Process')",
                                    "id": "@triggerBody()?['recordId']"
                                },
                                "headers": {
                                    "x-ms-documentdb-raw-partitionkey": "\"@{triggerBody()?['recordId']}\"",
                                    "x-ms-documentdb-is-upsert": true
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['documentdb']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "[concat('/dbs/@{encodeURIComponent(''', parameters('cosmos_db_name'), ''')}/colls/@{encodeURIComponent(''', parameters('cosmos_container_processed'), ''')}/docs')]"
                            }
                        },
                        "Get_Financial_Document": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "headers": {
                                    "x-ms-documentdb-raw-partitionkey": "\"@{triggerBody()?['recordId']}\""
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['documentdb']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "[concat('/dbs/@{encodeURIComponent(''', parameters('cosmos_db_name'), ''')}/colls/@{encodeURIComponent(''', parameters('cosmos_container_financial'), ''')}/docs/@{encodeURIComponent(triggerBody()?[''recordId''])}')]"
                            }
                        },
                        "Get_Financial_Enriched_Document": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "headers": {
                                    "x-ms-documentdb-raw-partitionkey": "\"@{triggerBody()?['recordId']}\""
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['documentdb']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "[concat('/dbs/@{encodeURIComponent(''', parameters('cosmos_db_name'), ''')}/colls/@{encodeURIComponent(''', parameters('cosmos_container_financial_enriched'), ''')}/docs/@{encodeURIComponent(triggerBody()?[''recordId''])}')]"
                            }
                        },
                        "Get_W2_Document": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "headers": {
                                    "x-ms-documentdb-raw-partitionkey": "\"@{triggerBody()?['recordId']}\""
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['documentdb']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "[concat('/dbs/@{encodeURIComponent(''', parameters('cosmos_db_name'), ''')}/colls/@{encodeURIComponent(''', parameters('cosmos_container_w2'), ''')}/docs/@{encodeURIComponent(triggerBody()?[''recordId''])}')]"
                            }
                        },
                        "Get_W2_Enriched_Document": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "headers": {
                                    "x-ms-documentdb-raw-partitionkey": "\"@{triggerBody()?['recordId']}\""
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['documentdb']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "[concat('/dbs/@{encodeURIComponent(''', parameters('cosmos_db_name'), ''')}/colls/@{encodeURIComponent(''', parameters('cosmos_container_w2_enriched'), ''')}/docs/@{encodeURIComponent(triggerBody()?[''recordId''])}')]"
                            }
                        },
                        "Process": {
                            "runAfter": {
                                "Get_Financial_Document": [
                                    "Succeeded"
                                ],
                                "Get_Financial_Enriched_Document": [
                                    "Succeeded"
                                ],
                                "Get_W2_Document": [
                                    "Succeeded"
                                ],
                                "Get_W2_Enriched_Document": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Function",
                            "inputs": {
                                "body": {
                                    "financial-table": "@body('Get_Financial_Document')",
                                    "financial-table-enriched": "@body('Get_Financial_Enriched_Document')",
                                    "w2-form": "@body('Get_W2_Document')",
                                    "w2-form-enriched": "@body('Get_W2_Enriched_Document')"
                                },
                                "function": {
                                    "id": "[concat(parameters('process_resource_id'), '/functions/Process')]"
                                }
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "Create_Processed_Document": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": "@body('Process')",
                                "statusCode": 200
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "documentdb": {
                                "connectionId": "[parameters('documentdb_resource_id')]",
                                "connectionName": "documentdb",
                                "id": "[concat('/subscriptions/', parameters('subscription_id'), '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/documentdb')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}