setup/templates/logic-app-1-template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logic_app_name": {
            "type": "string"
        },
        "subscription_id":{
            "type": "securestring"
        },
        "shape_resource_id": {
            "type": "string"
        },
        "enrich_resource_id": {
            "type": "string"
        },
        "azureblob_resource_id": {
            "type": "string"
        },
        "documentdb_resource_id": {
            "type": "string"
        },
        "location": {
            "type": "string"
        },
        "form_reco_key": {
            "type": "string"
        },
        "cosmos_db_name": {
            "type": "string"
        },
        "cosmos_container_financial": {
            "type": "string"
        },
        "cosmos_container_financial_enriched": {
            "type": "string"
        },
        "cosmos_container_w2": {
            "type": "string"
        },
        "cosmos_container_w2_enriched": {
            "type": "string"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logic_app_name')]",
            "location": "[parameters('location')]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "[concat('https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/', parameters('logic_app_name'), 'definition.json#')]",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "request": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "method": "POST",
                                "schema": {
                                    "properties": {
                                        "formType": {
                                            "type": "string"
                                        },
                                        "modelId": {
                                            "type": "string"
                                        },
                                        "recordId": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Shape": {
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Function",
                            "inputs": {
                                "body": "@body('HTTP')",
                                "function": {
                                    "id": "[concat(parameters('shape_resource_id'), '/functions/Shape')]"
                                },
                                "headers": {
                                    "Form-Type": "@triggerBody()?['formType']"
                                }
                            }
                        },
                        "File_Extension": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "File Extension",
                                        "type": "String",
                                        "value": "@{if(endsWith(string(triggerBody()?['recordId']),'pdf'),'application/pdf',if(endsWith(string(triggerBody()?['recordId']),'png'),'image/png','image/jpeg'))}"
                                    }
                                ]
                            }
                        },
                        "File_Name": {
                            "runAfter": {
                                "File_Extension": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "File Name",
                                        "type": "String",
                                        "value": "@{last(split(string(triggerBody()?['recordId']),'/'))}"
                                    }
                                ]
                            }
                        },
                        "Get_blob_content": {
                            "runAfter": {
                                "File_Name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(triggerBody()?['recordId']))}/content",
                                "queries": {
                                    "inferContentType": true
                                }
                            }
                        },
                        "HTTP": {
                            "runAfter": {
                                "Get_blob_content": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": "@body('Get_blob_content')",
                                "headers": {
                                    "Content-Type": "@variables('File Extension')",
                                    "Ocp-Apim-Subscription-Key": "[parameters('form_reco_key')]"
                                },
                                "method": "POST",
                                "uri": "https://westus2.api.cognitive.microsoft.com/formrecognizer/v1.0-preview/custom/models/@{triggerBody()?['modelId']}/analyze"
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "Switch": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "inputs": {
                                "body": "@{body('Create_or_update_document_financial')}@{body('Create_or_update_document_w2')}",
                                "statusCode": 200
                            }
                        },
                        "Switch": {
                            "runAfter": {
                                "Shape": [
                                    "Succeeded"
                                ]
                            },
                            "cases": {
                                "Financial_Table": {
                                    "case": "Financial Table",
                                    "actions": {
                                        "Enrich_financial": {
                                            "runAfter": {
                                                "Create_or_update_document_Financial": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Function",
                                            "inputs": {
                                                "body": "@body('Shape')",
                                                "function": {
                                                    "id": "[concat(parameters('enrich_resource_id'), '/functions/Enrich')]"
                                                },
                                                "headers": {
                                                    "Form-Type": "@triggerBody()?['formType']"
                                                }
                                            }
                                        },
                                        "Create_or_update_financial_enrich": {
                                            "runAfter": {
                                                "Enrich_financial": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "id": "@variables('File Name')",
                                                    "results": "@body('Enrich_financial')"
                                                },
                                                "headers": {
                                                    "x-ms-documentdb-is-upsert": true,
                                                    "x-ms-documentdb-raw-partitionkey": "\"@{variables('File Name')}\""
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['documentdb']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "[concat('/dbs/@{encodeURIComponent(''', parameters('cosmos_db_name'), ''')}/colls/@{encodeURIComponent(''', parameters('cosmos_container_financial_enriched'), ''')}/docs')]"
                                            }
                                        },
                                        "Create_or_update_document_financial": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "form": "@body('Shape')",
                                                    "id": "@variables('File Name')"
                                                },
                                                "headers": {
                                                    "x-ms-documentdb-is-upsert": true,
                                                    "x-ms-documentdb-raw-partitionkey": "\"@{variables('File Name')}\""
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['documentdb']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "[concat('/dbs/@{encodeURIComponent(''', parameters('cosmos_db_name'), ''')}/colls/@{encodeURIComponent(''', parameters('cosmos_container_financial'), ''')}/docs')]"
                                            }
                                        }
                                    }
                                },
                                "W2": {
                                    "case": "W2",
                                    "actions": {
                                        "Enrich_w2": {
                                            "runAfter": {
                                                "Create_or_update_document_W2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Function",
                                            "inputs": {
                                                "body": "@body('Shape')",
                                                "function": {
                                                    "id": "[concat(parameters('enrich_resource_id'), '/functions/Enrich')]"
                                                },
                                                "headers": {
                                                    "Form-Type": "@triggerBody()?['formType']"
                                                }
                                            }
                                        },
                                        "Create_or_update_document_w2": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "form": "@body('Shape')",
                                                    "id": "@variables('File Name')"
                                                },
                                                "headers": {
                                                    "x-ms-documentdb-is-upsert": true,
                                                    "x-ms-documentdb-raw-partitionkey": "\"@{variables('File Name')}\""
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['documentdb']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "[concat('/dbs/@{encodeURIComponent(''', parameters('cosmos_db_name'), ''')}/colls/@{encodeURIComponent(''', parameters('cosmos_container_w2'), ''')}/docs')]"
                                            }
                                        },
                                        "Create_or_update_document_w2_enrich": {
                                            "runAfter": {
                                                "Enrich_w2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "id": "@variables('File Name')",
                                                    "results": "@body('Enrich_w2')"
                                                },
                                                "headers": {
                                                    "x-ms-documentdb-is-upsert": true,
                                                    "x-ms-documentdb-raw-partitionkey": "\"@{variables('File Name')}\""
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['documentdb']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "[concat('/dbs/@{encodeURIComponent(''', parameters('cosmos_db_name'), ''')}/colls/@{encodeURIComponent(''', parameters('cosmos_container_w2_enriched'), ''')}/docs')]"
                                            }
                                        }
                                    }
                                }
                            },
                            "default": {
                                "actions": {}
                            },
                            "expression": "@triggerBody()?['formType']",
                            "type": "Switch"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureblob": {
                                "connectionId": "[parameters('azureblob_resource_id')]",
                                "connectionName": "azureblob",
                                "id": "[concat('/subscriptions/', parameters('subscription_id'), '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azureblob')]"
                            },
                            "documentdb": {
                                "connectionId": "[parameters('documentdb_resource_id')]",
                                "connectionName": "documentdb",
                                "id": "[concat('/subscriptions/', parameters('subscription_id'), '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/documentdb')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}